html, body {
    margin: 0;
    height: 100%;
    /*overflow: hidden*/
}

html {
    position: relative;
    min-height: 100%;
}

/**
MAIN
 */
.main-content {
    margin-bottom: 3rem; /* Margin bottom by footer height */
    margin-top: 3rem;
}

.chat-card {
    height: 6rem;
}

.chat-photo-block {
    width: 25%;
}

.chat-message-block {
    width: 75%;
}

.chat-photo {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.chat-link {
    color: black;
}

/**
CHAT
 */


/**
PEOPLE
 */
.people-list-item {
    height: 4rem;
    padding: 0.75rem 0.75rem;
}

.people-content {
    margin-bottom: 3.5rem; /* Margin bottom by footer height */
    margin-top: 3rem;
}

/**
SETTINGS
 */
.settings-photo {
    border-radius: 50%;
    max-width: 100%;
    max-height: 10rem;
}

.custom-file {
    width: 90%;

}

/**
FOOTER
 */
.footer {
    bottom: 0;
    width: 100%;
    height: 70px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.chat-footer {
    bottom: 0;
    width: 100%;
    height: 70px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer_links {
    margin-bottom: -1rem;
    margin-top: 0.7rem;
}

.bg-active {
    color: black !important;
}

.bg-inactive {
    color: #b3b3b3 !important;
}
